name: Commit Validation
on: [push, pull_request]

jobs:
  #Run Lint and Unit Tests
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: gradle/actions/wrapper-validation@v5

    - name: set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: '17'
        cache: 'gradle'

    - name: Lint
      run: ./gradlew clean lint 
    
    - name: Unit Test
      run: ./gradlew clean test

  # Run instrumented test cases
  android:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        api-level: [23, 34]

    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - name: Enable KVM group perms (needed for reactivecircus/android-emulator-runner below)
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Run Instrumented Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          arch: x86_64
          script: ./gradlew connectedCheck
