name: Commit Validation
on: [push, pull_request]

jobs:
  #Run Lint and Unit Tests
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: gradle/wrapper-validation-action@v1

    - name: set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'
        cache: 'gradle'

    - name: Lint
      run: ./gradlew clean lint 
    
    - name: Unit Test
      run: ./gradlew clean test

  # Run instrumented test cases
  android:
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        api-level: [23, 29]

    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
          cache: 'gradle'

      - name: Run Instrumented Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          script: ./gradlew connectedCheck
